@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  font-weight: 1000;
  color: #61dafb;
  text-align: center;
  font-size: 45px;
}
